html {
    height: 100%;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00e9ff+0,ff00f2+100 */
    background: #00e9ff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #00e9ff 0%, #ff00f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #00e9ff 0%,#ff00f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #00e9ff 0%,#ff00f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e9ff', endColorstr='#ff00f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header {
    text-align: right;
    padding: 20px;
    margin: 0;
    font-size: 3em;
    color: #222;
    margin-bottom: -31px;
    font-weight: bold;
}

.logout-banner, .login-banner, .nav-banner {
    background: #222;
    text-align: right;
    padding: 4px 20px 4px 20px;
    margin: 0;
    color: #fff;
}

.nav-banner {
    background: #222;
    text-align: center;
    padding: 4px 20px 4px 20px;
    margin: 0;
    color: #fff;
}

.logout-banner span, .login-banner span {
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.nav-banner span {
    cursor: pointer;
    margin: 0 20px 0 20px;
}

#chart {
    margin: 20px;
}

.input-area {
    min-width: 300px;
    max-width: 50%;
    margin: 20px auto 10px auto;
    font-size: 2em;
}

.input-area textarea {
    width: 100%;
    height: 300px;
}

.input-area button {
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    background: #ff00f2; /* Old browsers */
}

